*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/decompileOAT/*.apk
/decompileOAT/*.dump
/decompileOAT/*.dex
/decompileOAT/*.class